node_modules/
dist/
artifacts/
cache/
.env
.env.local
.env.*.local
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
.hardhat_node/
.openzeppelin/
deployments/
!deployments/README.md
.vscode/settings.json
